 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body{
  font-family: Arial;
  padding: 20px;
  background-color: green;
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background-color: gold;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

ul{
  display: flex;
  text-align: center;
  list-style: none;
}

li{
  padding: 8px;
  background-color: lavender;
}

li > a {
  color: cyan;
}

.icon{
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icon-image{
  width: 20px;
  height: 20px;
}

.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.article-image{
  height: 200px;
  width: 100%;
  padding: 20px;
  background-color: blue;
}

.profile-image{
  height: 100px;
  width: 100%;
  padding: 20px;
  background-color: red;
}

.post-image{
  height: 100px;
  width: 100%;
  padding: 20px;
  background-color: yellow;
}

.card{
  background-color: silver;
  padding: 20px;
  margin-top: 20px;
}

.row:after{
  content: "";
  display: table;
  clear: both;
}

form{
  background-color: brown;
}

#form-button-send{
  cursor: pointer;
}

.loop-pagination{
  margin: 20px 0 20px 0;
}

.right{
  float: right;
}

.right > a {
  background-color: black;
  padding: 8px 22px 12px 25px;
  color: turquoise;
  line-height: 1;
  border-radius: 46px;
  font-size: 14px;
  display: inline-block;
}

a{
  margin: 0;
  vertical-align: baseline;
}

a, a:active, a:visited {
  text-decoration: none;
}

right > a:after {
  content: "\00BB";
  display: inline-block;
  padding-left: 6px;
  font-size: 20px;
  line-height: 20px;
  height: 20px;
  position: relative;
  top: 1px;
}

*:after {
  box-sizing: border-box;
}

.clearfix{
  clear:right;
}

.footer{
  padding: 20px;
  text-align: center;
  background-color: orange;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}

.footer-image{
  object-fit: cover;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.footer > span {
  color: purple;
  background-color: pink;
  margin: 0;
}

span{
  text-decoration: none;
  font-style: italic;
}

h2,h3{
  margin: 0;
  line-height: 18px;
  font-weight: bold;
}

h5,p {
  text-decoration: none;
  font-style: italic;
}

@media handheld and (max-width: 800px), screen and (max-width: 800px) {
   .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
  ul {
    display: none;
  }
  .icon {
  cursor: pointer;
  width: 50vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
  form{
    display: none;
  }
  .header > h2 {
    display: flex;
    flex-direction: column;
  width: 50vw;
  height: 50vh;
  padding: 15px;
  font-size: 20px;
  text-align: center;
  justify-content: space-evenly;
  }
  .footer{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px;
    
  }
}